/* Cards */
.card-custom {
    cursor: pointer;
    transition: 0.2s;
}
.card-custom:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

/* Menu de tabs */
#tabMenu {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    overflow-x: auto;
}
#tabMenu .nav-item {
    flex: 1 0 auto;
}
#tabMenu .nav-link {
    text-align: center;
    white-space: nowrap;
}

/* Fullscreen simulado */
.grafico-wrapper.fullscreen-simulado {
    position: fixed !important;
    top: 50%;
    left: 50%;
    width: 200vw !important;
    height: 100vh !important;
    z-index: 9999;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transform: translate(-50%, -50%);
}

.grafico-wrapper.fullscreen-simulado canvas {
    width: 80% !important;
    height: 56% !important;
    transform: rotate(90deg);
    transform-origin: center center;
}

.btn-fullscreen-close {
    position: absolute;
    top: 0%;
    right: 25%;
    z-index: 10000;
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
}

.btn-fullscreen-close:hover {
    background: #e63636;
    transform: scale(1.05);
}

/* Canvas padrão */
canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Altura menor em telas pequenas */
@media (max-width: 768px) {
    .grafico-wrapper { height: 230px; }
}
